nav {
  display: flex;
  justify-content: center;
}

nav img {
  width: 33.5px;
  position: absolute;
  left: 15px;
  top: 15px;
  transition: all 0.2s;
}

nav img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

nav a {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 44px;
  text-align: right;
  color: var(--text-primary);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  padding: 15px;
}

nav a:hover {
  transition: 0.3s;
  color: var(--text-active);
}

